In [30]:
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.ensemble import RandomForestRegressor
import pickle
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler, Normalizer, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error

df = pd.read_excel('C:/Users/acc_a/OneDrive/PhOLED 300.xlsx', sheetname='Sheet2')
df = df[list(df.columns)[1:] ]
df.dropna(axis=0, inplace=True)

X = df[list(df.columns)[:-1]]
y = df[['cd/A']]

X.shape

(304, 31)

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.25, random_state=1)

filename = 'C:/Anaconda3/projects/oled/PhOLED 300/rforest_300.sav'

# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))

print('R-squared: ', loaded_model.score(X_test, y_test))

R-squared:  0.895240129661

### triplet host

In [32]:
new_df = pd.read_pickle('C:/Anaconda3/projects/oled/PhOLED 300/vary triplet host/generated1.pkl')

new_X = new_df[:]
print(new_X.shape)

y_pred = loaded_model.predict(new_X)
y_pred = [round(float(i), 2) for i in y_pred]

new_X['cd/a'] = y_pred

(21, 31)

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
y_pred

[22.88, 22.88, 22.88, 22.88, 22.88, 22.88, 22.88, 25.92, 33.87, 34.01, 30.74]

In [15]:
new_X['triplet_HOST']

0     2.0
1     2.1
2     2.2
3     2.3
4     2.4
5     2.5
6     2.6
7     2.7
8     2.8
9     2.9
10    3.0
Name: triplet_HOST, dtype: float64

In [33]:
host = pd.DataFrame(new_X['triplet_HOST']) 
host['pred_y'] = y_pred
host

    triplet_HOST  pred_y
0           2.60   23.60
1           2.62   23.60
2           2.64   24.02
3           2.66   24.07
4           2.68   23.95
5           2.70   26.64
6           2.72   28.73
7           2.74   31.69
8           2.76   33.56
9           2.78   33.98
10          2.80   34.53
11          2.82   34.16
12          2.84   34.41
13          2.86   34.98
14          2.88   35.49
15          2.90   34.82
16          2.92   34.68
17          2.94   34.94
18          2.96   34.94
19          2.98   34.51
20          3.00   31.41

### triplet ETL

In [34]:
new_df = pd.read_pickle('C:/Anaconda3/projects/oled/PhOLED 300/vary triplet etl/generated1.pkl')

new_X = new_df[:]
print(new_X.shape)

y_pred = loaded_model.predict(new_X)
y_pred = [round(float(i), 2) for i in y_pred]

new_X['cd/a'] = y_pred

(21, 31)

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [35]:
etl = pd.DataFrame(new_X['triplet_ETL']) 
etl['pred_y'] = y_pred
etl

    triplet_ETL  pred_y
0          2.60   15.37
1          2.62   15.37
2          2.64   15.37
3          2.66   31.80
4          2.68   31.80
5          2.70   31.80
6          2.72   31.80
7          2.74   31.87
8          2.76   31.79
9          2.78   31.69
10         2.80   31.78
11         2.82   31.76
12         2.84   31.76
13         2.86   31.76
14         2.88   31.76
15         2.90   31.76
16         2.92   31.76
17         2.94   31.51
18         2.96   31.51
19         2.98   31.41
20         3.00   31.41

### triplet HTL

In [36]:
new_df = pd.read_pickle('C:/Anaconda3/projects/oled/PhOLED 300/vary triplet htl/generated1.pkl')

new_X = new_df[:]
print(new_X.shape)

y_pred = loaded_model.predict(new_X)
y_pred = [round(float(i), 2) for i in y_pred]

new_X['cd/a'] = y_pred

(21, 31)

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [37]:
htl = pd.DataFrame(new_X['triplet_HTL']) 
htl['pred_y'] = y_pred
htl

    triplet_HTL  pred_y
0          2.60   26.87
1          2.62   26.87
2          2.64   26.87
3          2.66   26.87
4          2.68   26.87
5          2.70   26.97
6          2.72   26.97
7          2.74   27.26
8          2.76   27.26
9          2.78   29.80
10         2.80   29.92
11         2.82   29.71
12         2.84   29.72
13         2.86   31.91
14         2.88   31.96
15         2.90   31.94
16         2.92   32.00
17         2.94   31.55
18         2.96   31.49
19         2.98   31.41
20         3.00   31.41