In [6]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from pandas.plotting import parallel_coordinates
plt.style.use('ggplot')
%matplotlib inline

# change directory to excel file and read excel file
df = pd.read_excel('C:/Anaconda3/projects/oled/oled.xlsx', sheetname='extend_side')
print(df.shape)
df.head()

(185, 21)

,no,homo1,homo2,homo3,homo4,thick_htl,triplet1,LUMO,HOMO,triplet2,...,lumo_d1,homo_d1,tripletdopant,triplet3,thick_etl,lumo5,lumo6,wf,cd/A,label
0,1,5.2,5.8,5.9,5.9,30,3.00,1.09,5.34,2.91,...,2.21,4.95,2.58,3.36,35,2.50,2.80,3.5,28.24,b
1,2,9.5,5.8,5.8,5.8,40,2.87,2.02,5.56,2.84,...,3.00,5.70,2.70,2.75,45,2.73,2.73,4.3,40.80,a
2,3,5.3,5.6,5.6,5.6,70,2.87,2.40,5.90,3.00,...,3.00,5.70,2.70,2.75,45,2.73,2.73,3.5,26.30,b
3,4,5.2,5.2,5.2,5.2,0,0.00,2.70,5.71,NaN,...,2.60,6.20,NaN,0.00,0,4.20,4.20,4.2,3.38,c
4,5,5.2,5.8,5.8,5.8,5,2.60,2.02,5.35,2.60,...,0.00,0.00,0.00,2.60,30,2.80,2.80,3.5,1.00,c

In [7]:
#drop the missing data
df.dropna(axis=0, inplace=True)
print(df.shape)

(143, 21)

In [8]:
df = df[list(df.columns)[1:-1]]
print(df.shape)
df.head()

(143, 19)

,homo1,homo2,homo3,homo4,thick_htl,triplet1,LUMO,HOMO,triplet2,thick,lumo_d1,homo_d1,tripletdopant,triplet3,thick_etl,lumo5,lumo6,wf,cd/A
0,5.2,5.8,5.9,5.9,30,3.00,1.09,5.34,2.91,25,2.21,4.95,2.58,3.36,35,2.50,2.80,3.5,28.24
1,9.5,5.8,5.8,5.8,40,2.87,2.02,5.56,2.84,20,3.00,5.70,2.70,2.75,45,2.73,2.73,4.3,40.80
2,5.3,5.6,5.6,5.6,70,2.87,2.40,5.90,3.00,20,3.00,5.70,2.70,2.75,45,2.73,2.73,3.5,26.30
4,5.2,5.8,5.8,5.8,5,2.60,2.02,5.35,2.60,30,0.00,0.00,0.00,2.60,30,2.80,2.80,3.5,1.00
9,9.5,5.5,5.5,5.5,45,2.87,2.55,5.90,2.80,20,2.20,4.80,2.59,2.75,45,2.73,2.73,4.3,60.30

In [9]:
X = df[list(df.columns)[:-2]]
y = df[['cd/A']]
print(X.shape)
X.head()

(143, 17)

,homo1,homo2,homo3,homo4,thick_htl,triplet1,LUMO,HOMO,triplet2,thick,lumo_d1,homo_d1,tripletdopant,triplet3,thick_etl,lumo5,lumo6
0,5.2,5.8,5.9,5.9,30,3.00,1.09,5.34,2.91,25,2.21,4.95,2.58,3.36,35,2.50,2.80
1,9.5,5.8,5.8,5.8,40,2.87,2.02,5.56,2.84,20,3.00,5.70,2.70,2.75,45,2.73,2.73
2,5.3,5.6,5.6,5.6,70,2.87,2.40,5.90,3.00,20,3.00,5.70,2.70,2.75,45,2.73,2.73
4,5.2,5.8,5.8,5.8,5,2.60,2.02,5.35,2.60,30,0.00,0.00,0.00,2.60,30,2.80,2.80
9,9.5,5.5,5.5,5.5,45,2.87,2.55,5.90,2.80,20,2.20,4.80,2.59,2.75,45,2.73,2.73

In [30]:
from sklearn.linear_model import ElasticNetCV, LassoCV, RidgeCV, Lasso
from sklearn.preprocessing import MinMaxScaler, Normalizer, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.25, random_state=7)

scaler = Normalizer()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# Choose linear regression as our regressor from scikit-learn
regressor = ElasticNetCV()

regressor.fit(X_train, y_train.values.ravel())
y_predictions = regressor.predict(X_test)

# Check how our model is doing
print('R-squared: ', regressor.score(X_test, y_test))
print('MS Error: ', mean_squared_error(y_test, y_predictions))

kfold = KFold(n_splits=5, shuffle=True, random_state=3)
scores = cross_val_score(regressor, X, y.values.ravel(), cv=kfold)
print('scores: ', scores)
print('mean score: ', scores.mean())

R-squared:  0.298265744648
MS Error:  155.619553954
scores:  [ 0.15781923  0.08377503  0.32991779  0.24547996  0.18672534]
mean score:  0.200743470914

In [35]:
# Choose linear regression as our regressor from scikit-learn
regressor = LassoCV(alphas=[50, 10, 1, 0.1, 0.001, 0.0005], max_iter=100000)

regressor.fit(X_train, y_train.values.ravel())
y_predictions = regressor.predict(X_test)

# Check how our model is doing
print('R-squared: ', regressor.score(X_test, y_test))
print('MS Error: ', mean_squared_error(y_test, y_predictions))

kfold = KFold(n_splits=5, shuffle=True, random_state=3)
scores = cross_val_score(regressor, X, y.values.ravel(), cv=kfold)
print('scores: ', scores)
print('mean score: ', scores.mean())
regressor.get_params()

R-squared:  0.250212100287
MS Error:  166.276133199
scores:  [ 0.15692342  0.07861918  0.31756911  0.26192721  0.09741342]
mean score:  0.182490468688

{'alphas': [50, 10, 1, 0.1, 0.001, 0.0005],
 'copy_X': True,
 'cv': None,
 'eps': 0.001,
 'fit_intercept': True,
 'max_iter': 100000,
 'n_alphas': 100,
 'n_jobs': 1,
 'normalize': False,
 'positive': False,
 'precompute': 'auto',
 'random_state': None,
 'selection': 'cyclic',
 'tol': 0.0001,
 'verbose': False}

In [31]:
# Choose linear regression as our regressor from scikit-learn
regressor = Lasso(max_iter=10000)

regressor.fit(X_train, y_train.values.ravel())
y_predictions = regressor.predict(X_test)

# Check how our model is doing
print('R-squared: ', regressor.score(X_test, y_test))
print('MS Error: ', mean_squared_error(y_test, y_predictions))

kfold = KFold(n_splits=5, shuffle=True, random_state=3)
scores = cross_val_score(regressor, X, y.values.ravel(), cv=kfold)
print('scores: ', scores)
print('mean score: ', scores.mean())

R-squared:  -0.00518558318333
MS Error:  222.91420278
scores:  [ 0.15692342  0.06694616  0.31756911  0.3869038   0.19195923]
mean score:  0.224060347

In [29]:
# Choose linear regression as our regressor from scikit-learn
regressor = RidgeCV()

regressor.fit(X_train, y_train.values.ravel())
y_predictions = regressor.predict(X_test)

# Check how our model is doing
print('R-squared: ', regressor.score(X_test, y_test))
print('MS Error: ', mean_squared_error(y_test, y_predictions))

kfold = KFold(n_splits=5, shuffle=True, random_state=3)
scores = cross_val_score(regressor, X, y.values.ravel(), cv=kfold)
print('scores: ', scores)
print('mean score: ', scores.mean())

R-squared:  0.299029292288
MS Error:  155.450226402
scores:  [ 0.24291642  0.1431586   0.32020618  0.47408925 -0.09352777]
mean score:  0.217368536264